*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 8vh;
    background-color: black;
}
.h4{
    color: whitesmoke;
    padding-top: 19px;
    padding-right: 1000px;
}
.h1{
    color: black;
    padding-top: 35px;
    padding-right: 65px;
  
}
.p1{
    color: black;
    padding-top: 15px;
    padding-right: 65px;
}
.p2{
    color: black;
    padding-top: 15px;
    padding-right: 65px;
}
